body,
html {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

.page{
    margin: 0;
    height: 90%;
    background: #2e2e2e;
}

#page-wrapper {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-areas:"Program Next b"
    "Preview Transition d";
    grid-template-columns: 3fr 330px 1fr;
    grid-template-rows: 1fr 1fr;

    
}

.box {
    background: #202020;
    height: 170px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #191919;
}

.box-inner {
    position: relative;
    top: -15px;
    height: auto;
    width: auto;
    display: grid;
    column-gap: 15px;
    /* margin: 20px; */
    padding:10px;
    /* grid-template-rows: 1fr 1fr; */

    grid-template-columns: 1fr 55px 120px;
}

.box-transition {
    position: relative;
    top: -15px;
    height: auto;
    width: auto;
    display: grid;
    /* column-gap: 15px; */
    row-gap: 40px;
    padding:10px;
    grid-template-columns: 55px 55px 55px 55px 55px;
    grid-template-rows: 1fr 1fr;
}


.box-inner-inputs {
    position: relative;

    height: auto;
    width: auto;
    display: grid;
    row-gap: 40px;
    column-gap: 7px;
    /* margin: 20px; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.box-inner-rest {
    position: relative;
    height: auto;
    width: auto;
    display: grid;
    row-gap: 40px;
    column-gap: 7px;
    /* margin: 20px; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 55px 55px ;
}

.box-inner-mid {
    position: relative;
    height: auto;
    width: auto;
    display: grid;
    row-gap: 40px;
    column-gap: 7px;
    /* margin: 20px; */
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: 55px 55px 55px; */
}

.box-title {
    position: relative;
    top: -25px;
    left: 5px;
    color: #7c7c7c;
    font-size: 13px;
}

#Program {
    grid-area:Program
}

#Preview {
    grid-area:Preview
}

#Next{
    grid-area:Next
}

#Transition{
    grid-area:Transition
}

.atem-button {
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: rgb(212, 211, 211);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 90%, rgb(167, 167, 167) 100%);  border: 1px solid #9e9e9e;
    /* margin: auto; */
    text-align: center;
    cursor: pointer;
    color:#1b1b1b;
    user-select: none;
}

.two-lines{
    font-size: 15px;
    line-height: 20px;
    padding-top:5px;
}

.button-red:active{
    background: #b10000;
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
    box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
    background: radial-gradient(circle, rgb(170, 79, 79) 0%, rgb(173, 0, 0) 82%, rgb(153, 0, 0) 100%);
}

.button-green:active{
    background: #2ca10e;
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgb(72, 255, 0);
    -moz-box-shadow: 0px 3px 25px -9px rgb(30, 255, 0);
    box-shadow: 0px 3px 25px -9px rgb(51, 255, 0);
    background: radial-gradient(circle, rgb(118, 177, 102) 0%, rgb(42, 175, 1) 82%, rgb(55, 172, 1) 100%);
}

.button-yellow:active{
    background: #a1920e;
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgb(255, 238, 0);
    -moz-box-shadow: 0px 3px 25px -9px rgb(229, 255, 0);
    box-shadow: 0px 3px 25px -9px rgb(238, 255, 0);
    background: radial-gradient(circle, rgb(195, 196, 144) 0%, rgb(175, 172, 1) 82%, rgb(169, 172, 1) 100%);
}


.atem-button-red-active {
    background: #ff0000;
    background: radial-gradient(circle, rgba(255,135,135,1) 0%, rgba(255,0,0,1) 82%, rgba(255,0,0,1) 100%);
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
    box-shadow: 0px 3px 25px -9px rgba(255, 0, 0, 1);
}

.atem-button-green-active {
    background: #00f100;
    background: radial-gradient(circle, rgb(159, 255, 135) 0%, rgb(60, 255, 0) 82%, rgb(81, 255, 0) 100%);
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgb(72, 255, 0);
    -moz-box-shadow: 0px 3px 25px -9px rgb(30, 255, 0);
    box-shadow: 0px 3px 25px -9px rgb(51, 255, 0);
}

.atem-button-yellow-active {
    background: #f1ed00;
    background: radial-gradient(circle, rgb(255, 250, 174) 0%, rgb(255, 208, 0) 82%, rgb(255, 187, 0) 100%);
    border: 1px solid #363636;
    -webkit-box-shadow: 0px 3px 25px -9px rgb(251, 255, 0);
    -moz-box-shadow: 0px 3px 25px -9px rgb(251, 255, 0);
    box-shadow: 0px 3px 25px -9px rgb(208, 255, 0);
}