body,
html {
  margin: 0;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

.open-button {
  margin-top: 45vh;
  position: relative;
  height: 40px;
  width: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #202020;
  /* border-bottom:1px solid #1a1a1a; */
  border-left: 1px solid #1a1a1a;
  overflow: hidden;
}

.open-button:hover {
  background: #2b2b2b;
}

.control-page {
  margin: 0;
  /* height: 90%; */
  background: #2e2e2e;
  display: grid;
  /* grid-template-columns: 1fr auto; */
}

.page-wrapper-control {
  margin: 0;
  min-height: calc(100vh - 56px);
  display: grid;
  grid-template-areas:
    'Program Next DSK'
    'Preview Transition FTB';
  padding: 2%;
  margin: auto;
  column-gap: 3%;
  grid-template-columns: minmax(500px, 830px) auto auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
}

#DSK {
  position: relative;
  top: 37px;
}

#FTB {
  position: relative;
  bottom: -44px;
}

@media only screen and (max-width: 1320px) {
  .page-wrapper-control.open {
    grid-template-areas:
      'Program Program'
      'Preview Preview'
      'Transition Next'
      'DSK FTB';
    padding: 3%;
    column-gap: 3%;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 1045px) {
  .page-wrapper-control {
    grid-template-areas:
      'Program Program'
      'Preview Preview'
      'Transition Next'
      'DSK FTB';
    padding: 3%;
    column-gap: 3%;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    row-gap: 50px;
  }
  #DSK {
    top: 0px;
  }

  #FTB {
    top: 0px;
  }
}
@media only screen and (max-width: 650px) {
  .page-wrapper-control {
    grid-template-areas:
      'Program Program'
      'Preview Preview'
      'Transition Transition'
      'Next Next'
      'DSK FTB';
    padding: 3%;
    column-gap: 3%;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    row-gap: 50px;
  }

  .page-wrapper-control.open {
    grid-template-areas:
      'Program Program'
      'Preview Preview'
      'Transition Transition'
      'Next Next'
      'DSK FTB';
    padding: 3%;
    column-gap: 3%;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    row-gap: 50px;
  }
}

.box {
  height: auto;
  width: max-content;
  margin: auto;
  display: grid;
  grid-template-rows: 25px auto;
}

.box.pp {
  width: 100%;
}

.box-dsk {
  background: #202020;

  border-radius: 5px;
  border: 1.5px solid #191919;
  display: grid;
  grid-template-columns: 50px 50px;
  column-gap: 5px;
  position: relative;
  padding: 10px;
}

.box-dsk .dsk-col {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  row-gap: 5px;
}

.dsk-title {
  display: grid;
  column-gap: 5px;
  padding: 0 10px;
  margin: 0 !important;
  text-align: center;
}

.box-ftb {
  display: grid;
  grid-template-columns: 50px 50px;
  column-gap: 5px;
  padding: 10px;
  background: #202020;
  border-radius: 5px;
  border: 1.5px solid #191919;
}

.box-inner {
  background: #202020;

  border-radius: 5px;
  border: 1.5px solid #191919;

  position: relative;
  /* top: -15px; */
  height: auto;
  width: auto;
  display: grid;
  column-gap: 15px;
  /* margin: 20px; */
  padding: 10px;
  /* grid-template-rows: 1fr 1fr; */

  grid-template-columns: 1fr 50px auto;
}

.box-transition, .box-style {
  background: #202020;

  border-radius: 5px;
  border: 1.5px solid #191919;

  position: relative;

  height: auto;
  width: auto;
  display: grid;
  /* column-gap: 15px; */
  /* row-gap: 40px; */
  padding: 10px;
  column-gap: 5px;
  grid-template-columns: 50px 50px 50px 50px 50px;
  /* grid-template-rows: 1fr 1fr; */
}
.box-style {
  row-gap: 40px;
  grid-template-rows: 1fr 1fr;
}
.box-transition-col {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;

}

.box-inner-inputs {
  position: relative;
  height: auto;
  width: auto;
  display: grid;
  row-gap: 40px;
  column-gap: 5px;
  /* margin: 20px; */
  grid-template-rows: repeat(auto-fill, minmax(50px, 50px));
  grid-template-columns: repeat(auto-fill, minmax(50px, 50px));
}

.box-inner-mobile {
  background: #202020;

  border-radius: 5px;
  border: 1.5px solid #191919;

  position: relative;

  height: auto;
  width: auto;
  display: grid;
  /* column-gap: 15px; */
  row-gap: 40px;
  padding: 10px;
  grid-template-rows: auto 50px;
}

.box-inner-rest {
  position: relative;
  height: auto;
  width: auto;
  display: grid;
  row-gap: 40px;
  /* margin: 20px; */
  column-gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50px 50px;
}

.box-program-row {
  position: relative;
  height: auto;
  width: auto;
  display: grid;
  row-gap: 40px;
  column-gap: 5px;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(50px, 50px));
}

.box-inner-mid {
  position: relative;
  height: auto;
  width: auto;
  display: grid;
  row-gap: 40px;
  column-gap: 7px;
  /* margin: 20px; */
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: 55px 55px 55px; */
}

.box-title {
  /* position: relative;
    top: -25px;
    left: 5px; */
  margin-left: 10px;
  color: #707070;
  font-size: 13px;
  line-height: 20px;
}

#Program {
  grid-area: Program;
  max-width: 760px;
}

#Preview {
  grid-area: Preview;
  max-width: 760px;
}

#Next {
  grid-area: Next;
}

#Transition {
  grid-area: Transition;
}

#DSK {
  grid-area: DSK;
}

#FTB {
  grid-area: FTB;
}

.rate {
  height: 50px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  color: #6d6d6d;
}

.rate-input::placeholder {
  color: rgb(235, 125, 0);
  opacity: 1;
}

.rate-input {
  width: 100%;
  text-align: center;
  margin: auto;
  border-radius: 8px;
  height: 30px;
  background: black;
  color: rgb(235, 125, 0);
  border: 1px solid #181818;
}

.atem-button-holder {
  position: relative;
  border-radius: 7px;
  /* width:50px; */
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.5);
  // background-color: #d7d7d7;
  background-image: url('/images/button_new_low.png');

  &:active {
    opacity: 0.8;
  }

  &.btn-default:active {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.856);
  }

  &.btn-disabled {
    background-image: url('/images/button_disabled.png');
  }

  &.btn-red {
    background-image: url('/images/button_red5.png');
    // background-color: #ff0000;
    box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.637);
    /* z-index: 10; */

    &:active {
      // background-color: darken(#ff0000, 10%);
      box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.4);
    }
  }

  &.btn-red-flash {
    animation: btn-red-flash cubic-bezier(1, 0, 0, 1) 0.7s infinite;
    background-image: url('/images/button_new_low.png');
    background-blend-mode: lighten;
    background-size: 50px 50px;
    transition: background-image 0.4s ease-in-out;

    @keyframes btn-red-flash {
      0% {
        background-image: url('/images/button_new_low.png');
      }
      50% {
        box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.637);
        background-image: url('/images/button_red5.png');
      }
    }
  }

  &.btn-green {
    background-image: url('/images/button_green2.png');
    box-shadow: 0px 0px 20px 5px rgba(51, 255, 0, 0.432);

    &:active {
      box-shadow: 0px 0px 20px 5px rgba(51, 255, 0, 0.232);
    }
  }

  &.btn-yellow {
    background-image: url('/images/button_yellow.png');
    box-shadow: 0px 0px 20px 5px rgba(255, 208, 0, 0.432);

    &:active {
      box-shadow: 0px 0px 20px 5px rgba(255, 208, 0, 0.232);
    }


  &.btn-yellow-flash {
    animation: btn-yellow-flash cubic-bezier(1, 0, 0, 1) 0.7s infinite;
    background-image: url('/images/button_new_low.png');
    background-blend-mode: lighten;
    background-size: 50px 50px;
    transition: background-image 0.4s ease-in-out;

    @keyframes btn-yellow-flash {
      0% {
        background-image: url('/images/button_new_low.png');
      }
      50% {
        box-shadow: 0px 0px 20px 5px rgba(255, 208, 0, 0.432);
        background-image: url('/images/button_yellow.png');
      }
    }
  }
  }

  .atem-button-text {
    position: absolute;
    font-weight: 600;
    color: #1b1b1b;
    text-align: center;
    font-size: 14px;
    width: 50px;
    top: 15px;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    
    &.on-air {
      padding: 0px 5px;
      top: 5px;
      line-height: 20px;
    }
    
    &.prev-trans {
      line-height: 13px;
      font-size: 13px;
      top: 13px;
    }
  }
}
