div#not-connected-overlay {
    z-index: 99999999;
    float: left;
    position: absolute;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.7);

    width: 100vw;
    height: 100vh;

    padding: 5vh 5vw;
    text-align: center;
}

div#not-connected-overlay p {
    color: #ddd;
    font-size: 2em;
}