.ss {
  border-left: 1px solid #1b1b1b;
  background: #2e2e2e;
  min-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
  width: 100%;
  min-width: 310px;
  max-width: 500px;
  margin: 0px auto;
}

/* @media only screen and (max-width: 600px) {
    .ss{
        width:100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-bar {
  // margin: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 20px;

  .button-bar-inner {
    background: rgb(58, 58, 58);
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 49%, rgba(50, 50, 50, 1) 90%, rgba(59, 59, 59, 1) 100%);
    border: solid 1px #131313;
    text-align: center;
    font-size: 12px;
    color: #5e5e5e;
    line-height: 20px;
    user-select: none;
    /* padding-top: 2px; */
    box-shadow: 0px 1px 3px #00000075;

    &.button-bar-inner-selected {
      background: linear-gradient(0deg, rgba(18, 18, 18, 1) 49%, rgba(23, 23, 23, 1) 90%, rgba(34, 34, 34, 1) 100%);
      color: #ff9100;
      box-shadow: none;
    }

    &:active {
      box-shadow: inset 1px 1px 5px #000000b9;
    }

    &.disabled {
      background: rgb(77, 77, 77);
      background: linear-gradient(0deg, rgb(48, 48, 48) 49%, rgb(59, 59, 59) 90%, rgb(71, 71, 71) 100%);
      color: #535353;
      border-color: rgb(49, 49, 49);

      &:active {
        box-shadow: 0px 1px 3px #00000075;
      }
    }

    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:not(:first-of-type) {
      border-left: none;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: none;
    }
  }
}

.ss-submenu {
  margin: 10px;
  margin-right: 2px;
  user-select: none;
}

.ss-submenu-title {
  margin: 5px;
  margin-left: 10px;
  color: #b1b1b1;
  font-size: 15px;
  font-weight: 600;
}

.ss-submenu-box {
  background: #323232;
  /* padding-top:2px; */
  border-radius: 5px;
  border: solid 1px #1a1a1a;
}

.ss-color-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ss-color-inner {
  position: relative;
  display: grid;
  // margin: 10px;
  grid-template-columns: 1fr 30px;
}

.ss-radio-button {
  /* position: absolute; */
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #282828;
  border: solid 1px #1c1c1c;
  margin: 15px;
  margin-left: 10px;
}

.ss-radio-button-inner {
  height: 10px;
  margin: 3.25px;
  width: 10px;
  border-radius: 50%;
  background: #8f8f8f;
  border: solid 1px #111111;
}

.ss-color-picker {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #0a0a0a;
}

.ss-color-picker:hover {
  box-shadow: 0px 0px 1px rgb(109, 109, 109);
}

.color-picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.color-picker-popover {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 30px;
}

.ss-rate {
  height: 25px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  color: #858585;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* float:left; */
}

.ss-rate-input::placeholder {
  color: #9c9c9c;
  opacity: 1;
  user-select: none;
}

.ss-rate-input {
  width: 100%;
  text-align: center;

  /* margin-top:3px; */
  border-radius: 5px;
  height: 25px;
  background: #282828;
  color: #9c9c9c;
  border: 1px solid #1a1a1a;
  font-size: 13px;
}

.ss-rate-input:disabled {
  background: #333333;
  color: #646464;
  border: 1px solid #252525;
  user-select: none;
}

.ss-rate-holder {
  margin: 10px;
  display: grid;
  grid-template-columns: auto 50px 1fr;
  column-gap: 10px;
}

/* .ss-rate-label{
        width:fit-content;
        line-height:30px;
        margin-right:10px;
        font-size:13px;
        color:#858585;
        /* float:left; */
/* } */

.ss-heading {
  color: #bfbfbf;
  margin: 10px;
  font-size: 14px;
}

.ss-heading.disabled {
  color: #646464;
}

.atem-label {
  position: relative;
  font-size: 13px;
  color: #858585;
  line-height: 25px;

  &.right {
    text-align: right;
  }

  &.disabled {
    color: #505050;
  }
}

.atem-form {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: auto auto;
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
  white-space: nowrap;

  &:not(:first-child):not(.no-border) {
    border-top: solid 1px #1a1a1a;
  }

  &.center {
    grid-template-columns: 1fr 1fr;

    .atem-label {
      text-align: right;
    }
  }

  hr {
    grid-column: span 2;
    width: 100%;
    margin: 0.5rem 0 0;
    border-color: #858585;
  }

  .content-split {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .content-xy {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
    column-gap: 10px;
  }

  .atem-heading {
    color: #bfbfbf;
    margin: 5px 0;
    font-size: 14px;
    grid-column: span 2;

    &.disabled {
      color: #646464;
    }
  }
}

.atem-label {
  position: relative;
  font-size: 13px;
  color: #858585;
  line-height: 25px;
  // vertical-align: middle;

  &.right {
    text-align: right;
  }

  &.disabled {
    color: #505050;
  }
}

.atem-dropdown {
  background: #282828;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  color: #9c9c9c;
  font-size: 14px;
  padding-left: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  text-overflow: ellipsis;

  &:disabled {
    color: #6d6d6d;
    background: #3d3d3d;
    border: 1px solid #2b2b2b;
  }

  * {
    border-radius: 2px;
    border: none;
  }

  option {
    border: none;
  }

  button {
    display: none;
  }
}

.atem-toggle-heading-holder {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30px 1fr;

  grid-column: span 2;

  .atem-toggle-circle-button {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #282828;
    border: solid 1px #1c1c1c;
    margin: 15px 10px;
  }

  .atem-toggle-circle-button-inner {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ff9900;
    /* border:solid 1px #111111; */
  }

  .atem-heading {
    width: fit-content;
    margin-left: 5px;
    align-self: center;
  }
}

.atem-slider-holder {
  grid-column: span 2;

  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 15px;
  margin: 10px 0 0;

  .atem-slider-holder-inner {
    position: relative;
  }

  .atem-slider-label {
    position: absolute;
    font-size: 12px;
    top: -15px;
    color: #858585;

    &.disabled {
      color: #505050;
    }
  }


  .rangeslider.rangeslider-horizontal {
    height: 3px;
    border-radius: 10px;
    background: #161616;
    margin: 11px 0;

    .rangeslider__handle {
      width: 14px;
      height: 14px;
      border-radius: 14px;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      background: #8f8f8f;
      /* border: 1px solid #505050; */
    }
  }

  .disabled .rangeslider.rangeslider-horizontal {
    pointer-events: none;
    background: #303030;
  }

  .disabled .rangeslider__handle {
    pointer-events: none;
    display: none;
  }

  .rangeslider__fill {
    background-color: grey;
    display: none;
  }

  .rangeslider__handle::after {
    display: none;
  }

  .rangeslider__labels {
    display: none;
  }
}

.atem-checkbox-container {
  grid-column: span 2;

  /* display: block; */
  position: relative;
  align-self: center;
  padding-left: 20px;
  /* margin-bottom: 12px; */
  // margin-left: 15px;
  // margin-top: 3px;
  margin: 0;
  font-size: 13px;
  color: #858585;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.disabled {
    color: #505050;
    cursor: default;
  }

  /* On mouse-over, add a grey background color */
  &:hover input~.checkmark {
    background-color: rgb(29, 29, 29);
  }


  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2px;
    cursor: pointer;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background-color: rgb(41, 41, 41);

    &.disabled {
      cursor: default;
      color: #777676;

      &:after {
        border: solid rgb(85, 85, 85);
        border-width: 0 3px 3px 0;
      }
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid rgb(216, 216, 216);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked, change the background */
    &:checked~.checkmark {
      background-color: rgb(41, 41, 41);
    }


    /* Show the checkmark when checked */
    &:checked~.checkmark:after {
      display: block;
    }

    /* Show the checkmark when checked */
    &:disabled~.checkmark:after {
      border-color: rgb(120, 120, 120);
    }
  }

}

.ss-mask-box {
  border-bottom: solid 1px #1a1a1a;
  border-top: solid 1px #1a1a1a;
}

.ss-mask-holder {
  grid-column: span 2;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  // margin: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.sss .rangeslider.rangeslider-vertical {
  width: 3px;
  border-radius: 10px;
  background: #161616;
  margin: 0 11px;

  .rangeslider__handle {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background: #8f8f8f;
    /* border: 1px solid #505050; */
  }
}

.sss.disabled .rangeslider__handle {
  pointer-events: none;
  display: none;
}

.sss .rangeslider__fill {
  background-color: grey;
  display: none;
}

.sss .rangeslider__handle::after {
  display: none;
}

.sss .rangeslider__labels {
  display: none;
}


.ss-pmk {
  outline: 1px solid #1a1a1a;
}

.ss-submenu-submenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

  .ss-submenu-submenu-item {
    font-size: 13px;
    text-align: center;
    color: #a5a5a5;
    line-height: 25px;
    box-shadow: -1px 0px 0px 0px #1a1a1a;

    &.inactive,
    &.disabled {
      background: rgb(41, 41, 41);
      background: linear-gradient(0deg, rgba(41, 41, 41, 1) 57%, rgba(49, 49, 49, 1) 94%);
      box-shadow: 0px 1px 0px 0px #1a1a1a, -1px 0px 0px 0px #1a1a1a;
    }

    &.inactive:hover {
      background: linear-gradient(0deg, rgb(56, 56, 56) 57%, rgb(58, 58, 58) 94%);
    }

    &.disabled {
      color: #505050;
    }
  }
}

.ss-wipe-pattern-holder {
  display: grid;
  margin: 10px auto;
  width: min-content;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 5px;
  /* height:130px; */
}

.ss-wipe-pattern-item {
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  background: rgb(35, 35, 35);
  background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(46, 46, 46, 1) 90%, rgba(59, 59, 59, 1) 98%);
}

.ss-wipe-pattern-item:active {
  background: rgb(35, 35, 35);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(36, 36, 36) 90%, rgba(59, 59, 59, 1) 98%);
}

.ss-wipe-pattern-item.active {
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgb(31, 31, 31) 90%, rgb(43, 42, 42) 98%);
}

.ss-dve-style-heading {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  color: #949494;
  font-size: 14px;
}

.ss-dve-style-page-button-holder {
  margin: 10px auto;
  display: grid;
  column-gap: 10px;
  grid-auto-columns: 8px;
  grid-auto-flow: column;
  width: fit-content;
}

.ss-dve-style-page-button {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #171717;
}

.ss-dve-style-page-button.currentPage {
  background: #c8c8c8;
}

.ss-dve-style-page-button.currentItem {
  background: #ff7b00;
}

.ss-dve-style-page-button:hover {
  background: #c8c8c8;
}

.ss-dve-style-holder {
  display: grid;
  width: 80%;
  /* height:150px; */
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 5px;
  border: solid 1px #1a1a1a;
  overflow: hidden;
}

.ss-dve-style-item {
  background: #2c2c2c;
  outline: solid 1px #1a1a1a;
}

.ss-dve-style-item.selected {
  background: #202020;
}

.ss-dve-style-item.selected:hover {
  background: #202020;
}

.ss-dve-style-item:hover {
  background: #383838;
}

.ss-dve-style-item.dummy:hover {
  background: #2c2c2c;
}

.ss-dve-style-item.disabled {
  background: #333333;
  color: #646464;
  outline: 1px solid #252525;
}

.fly-run-holder {
  grid-column: span 2;
}

.ss-run-holder {
  display: grid;
  margin: auto;
  grid-template-columns: 50px 50px 50px;
  column-gap: 10px;

  width: max-content;
}

.ss-run-button {
  background: #2c2c2c;
  background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(44, 44, 44, 1) 60%, rgb(46, 46, 46) 93%);
  color: #858585;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
  font-size: 14px;
  line-height: 25px;
}

.ss-run-button.disabled {
  background: #333333;
  color: #646464;
  border: 1px solid #252525;
}

.ss-run-button.disabled:active {
  box-shadow: none;
}

.ss-run-button:active {
  box-shadow: inset 0px 0px 5px #00000054;
}

.ss-run-button.active {
  background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgb(32, 32, 32) 60%, rgb(34, 34, 34) 93%);
  color: orange;
}

.usk-chroma-sample-picker {
  background-color: #222222;
  padding-top: 56.25%; // Force 16:9
  // margin-left: 10px;
  border: 1px solid #000000;

  height: 0;
  overflow: hidden;
  position: relative;

  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #323232 1px, transparent 1px);

  .usk-chroma-sample-picker-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: 1px 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #323232 1px, transparent 1px);

    .sampler {
      position: relative;
      float: left;

      >div {
        width: 100%;
        height: 100%;
        margin-left: -50%;
        margin-top: -50%;

        border: 2px solid #fff;
        background-color: #1d1d1d;
      }
    }

    .input {
      touch-action: none;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.dropdown-toggle.btn.btn-reset {
  color: #9c9c9c;
  padding: 0;

}

.dropdown.right {
  float: right;
  text-align: right;

  .dropdown-menu {
    padding: 0;
    background-color: #2e2e2e;
    border: 1px solid #000000;
    border-radius: 5px;
    min-width: 100px;

    hr {
      margin: 0;
      border-color: #000;
    }

    a {
      color: #9c9c9c;
      font-size: 13px;
      padding: .25rem 1.2rem;

      &:hover {
        background-color: #111111;
        color: #9c9c9c;

      }
    }
  }
}

.ss-ssrc-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 40px;

  >div {
    background: #2c2c2c;
    background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(44, 44, 44, 1) 60%, rgb(46, 46, 46) 93%);
    color: #858585;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1a1a1a;

    padding: 1px;
    // padding-top: 56.25%;

    &:active {
      background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgb(32, 32, 32) 60%, rgb(34, 34, 34) 93%);
    }
  }
}

.ss-ssrc-copy-boxes {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  column-gap: 5px;
  padding: 0 1rem;

  .ss-heading {
    font-size: 13px;
  }

  svg {
    height: 100%;
    color: #858585;
    font-size: 13px;
  }

  .ss-boxes-option-group {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    border: 1px solid #858585;
    border-radius: 5px;

    padding: 0.5rem
  }

  .ss-run-button {
    margin: 10px 0;
    float: right;
  }

}

.ss-mediaplayer-panel-holder {
  display: grid;
  grid-auto-flow: row;

  .ss-mediaplayer-panel {
    &:not(:last-child) {
      border-bottom: 1px solid #000000;
    }

    margin: 20px;

    .atem-label {
      text-align: right;
    }

    .buttons {
      display: grid;
      // grid-auto-flow: column;
      grid-template-columns: auto 30px 30px 30px 30px 30px;
      column-gap: 10px;

      .atem-label {
        font-size: 15px;
        text-align: right;
        font-weight: bold;
        color: #b1b1b1;
      }

      .media-button {
        @extend .ss-run-button;

        width: 30px;
        height: 30px;
        line-height: 30px;

        border-radius: 50%;

        &.active {
          @extend .ss-run-button.active;
        }
      }
    }

    // .ss-dropdown {
    //   width: 100%;
    //   text-overflow: ellipsis;
    // }

  }
}