.ss {
  border-left: 1px solid #1b1b1b;
  background: #2e2e2e;
  min-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
  width: 100%;
  min-width: 310px;
  max-width: 500px;
  margin: 0px auto;
}

/* @media only screen and (max-width: 600px) {
    .ss{
        width:100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.center {
  text-align: center;
}

.button-bar {
  // margin: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 20px;

  .button-bar-inner {
    background: rgb(58, 58, 58);
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 49%, rgba(50, 50, 50, 1) 90%, rgba(59, 59, 59, 1) 100%);
    border: solid 1px #131313;
    text-align: center;
    font-size: 12px;
    color: #5e5e5e;
    line-height: 20px;
    user-select: none;
    /* padding-top: 2px; */
    box-shadow: 0px 1px 3px #00000075;
    padding: 0 1rem;

    &.button-bar-inner-selected {
      background: linear-gradient(0deg, rgba(18, 18, 18, 1) 49%, rgba(23, 23, 23, 1) 90%, rgba(34, 34, 34, 1) 100%);
      color: #ff9100;
      box-shadow: none;
    }

    &:active {
      box-shadow: inset 1px 1px 5px #000000b9;
    }

    &.disabled {
      background: rgb(77, 77, 77);
      background: linear-gradient(0deg, rgb(48, 48, 48) 49%, rgb(59, 59, 59) 90%, rgb(71, 71, 71) 100%);
      color: #535353;
      border-color: rgb(49, 49, 49);

      &:active {
        box-shadow: 0px 1px 3px #00000075;
      }
    }

    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:not(:first-of-type) {
      border-left: none;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: none;
    }
  }
}

.ss-submenu {
  margin: 10px;
  margin-right: 2px;
  user-select: none;
}

.ss-submenu-title {
  margin: 5px;
  margin-left: 10px;
  color: #b1b1b1;
  font-size: 15px;
  font-weight: 600;
}

.ss-submenu-box {
  background: #323232;
  /* padding-top:2px; */
  border-radius: 5px;
  border: solid 1px #1a1a1a;
}

.ss-color-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ss-color-inner {
  position: relative;
  display: grid;
  // margin: 10px;
  grid-template-columns: 1fr 30px;
}

.ss-radio-button {
  /* position: absolute; */
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #282828;
  border: solid 1px #1c1c1c;
  margin: 15px;
  margin-left: 10px;
}

.ss-radio-button-inner {
  height: 10px;
  margin: 3.25px;
  width: 10px;
  border-radius: 50%;
  background: #8f8f8f;
  border: solid 1px #111111;
}

.ss-color-picker {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #0a0a0a;
}

.ss-color-picker:hover {
  box-shadow: 0px 0px 1px rgb(109, 109, 109);
}

.color-picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.color-picker-popover {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 30px;
}

.ss-rate {
  height: 25px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  color: #858585;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* float:left; */
}

.ss-rate-input::placeholder {
  color: #9c9c9c;
  opacity: 1;
  user-select: none;
}

.ss-rate-input {
  width: 100%;
  text-align: center;

  /* margin-top:3px; */
  border-radius: 5px;
  height: 25px;
  background: #282828;
  color: #9c9c9c;
  border: 1px solid #1a1a1a;
  font-size: 13px;
}

.ss-rate-input:disabled {
  background: #333333;
  color: #646464;
  border: 1px solid #252525;
  user-select: none;
}

.ss-rate-holder {
  margin: 10px;
  display: grid;
  grid-template-columns: auto 50px 1fr;
  column-gap: 10px;
}

.ss-mask-box {
  border-bottom: solid 1px #1a1a1a;
  border-top: solid 1px #1a1a1a;
}

.ss-mask-holder {
  grid-column: span 2;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  // margin: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


.ss-submenu-submenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

  .ss-submenu-submenu-item {
    font-size: 13px;
    text-align: center;
    color: #a5a5a5;
    line-height: 25px;
    box-shadow: -1px 0px 0px 0px #1a1a1a;

    &.inactive,
    &.disabled {
      background: rgb(41, 41, 41);
      background: linear-gradient(0deg, rgba(41, 41, 41, 1) 57%, rgba(49, 49, 49, 1) 94%);
      box-shadow: 0px 1px 0px 0px #1a1a1a, -1px 0px 0px 0px #1a1a1a;
    }

    &.inactive:hover {
      background: linear-gradient(0deg, rgb(56, 56, 56) 57%, rgb(58, 58, 58) 94%);
    }

    &.disabled {
      color: #505050;
    }
  }
}

.ss-wipe-pattern-holder {
  display: grid;
  margin: 10px auto;
  width: min-content;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 5px;
  /* height:130px; */
}

.ss-wipe-pattern-item {
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  background: rgb(35, 35, 35);
  background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(46, 46, 46, 1) 90%, rgba(59, 59, 59, 1) 98%);
}

.ss-wipe-pattern-item:active {
  background: rgb(35, 35, 35);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(36, 36, 36) 90%, rgba(59, 59, 59, 1) 98%);
}

.ss-wipe-pattern-item.active {
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgb(31, 31, 31) 90%, rgb(43, 42, 42) 98%);
}

.ss-dve-style-heading {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  color: #949494;
  font-size: 14px;
}

.ss-dve-style-page-button-holder {
  margin: 10px auto;
  display: grid;
  column-gap: 10px;
  grid-auto-columns: 8px;
  grid-auto-flow: column;
  width: fit-content;
}

.ss-dve-style-page-button {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #171717;
}

.ss-dve-style-page-button.currentPage {
  background: #c8c8c8;
}

.ss-dve-style-page-button.currentItem {
  background: #ff7b00;
}

.ss-dve-style-page-button:hover {
  background: #c8c8c8;
}

.ss-dve-style-holder {
  display: grid;
  width: 80%;
  /* height:150px; */
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 5px;
  border: solid 1px #1a1a1a;
  overflow: hidden;
}

.ss-dve-style-item {
  background: #2c2c2c;
  outline: solid 1px #1a1a1a;
}

.ss-dve-style-item.selected {
  background: #202020;
}

.ss-dve-style-item.selected:hover {
  background: #202020;
}

.ss-dve-style-item:hover {
  background: #383838;
}

.ss-dve-style-item.dummy:hover {
  background: #2c2c2c;
}

.ss-dve-style-item.disabled {
  background: #333333;
  color: #646464;
  outline: 1px solid #252525;
}

.fly-run-holder {
  grid-column: span 2;
}

.ss-run-holder {
  display: grid;
  margin: auto;
  grid-template-columns: 50px 50px 50px;
  column-gap: 10px;

  width: max-content;
}


.usk-chroma-sample-picker {
  background-color: #222222;
  padding-top: 56.25%; // Force 16:9
  // margin-left: 10px;
  border: 1px solid #000000;

  height: 0;
  overflow: hidden;
  position: relative;

  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #323232 1px, transparent 1px);

  .usk-chroma-sample-picker-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: 1px 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #323232 1px, transparent 1px);

    .sampler {
      position: relative;
      float: left;

      >div {
        width: 100%;
        height: 100%;
        margin-left: -50%;
        margin-top: -50%;

        border: 2px solid #fff;
        background-color: #1d1d1d;
      }
    }

    .input {
      touch-action: none;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.ss-ssrc-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 40px;

  >div {
    background: #2c2c2c;
    background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(44, 44, 44, 1) 60%, rgb(46, 46, 46) 93%);
    color: #858585;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1a1a1a;

    padding: 1px;
    // padding-top: 56.25%;

    &:active {
      background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgb(32, 32, 32) 60%, rgb(34, 34, 34) 93%);
    }
  }
}

.ss-ssrc-copy-boxes {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  column-gap: 5px;
  padding: 0 1rem;

  .atem-heading {
    font-size: 13px;
  }

  svg {
    height: 100%;
    color: #858585;
    font-size: 13px;
  }

  .ss-boxes-option-group {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    border: 1px solid #858585;
    border-radius: 5px;

    padding: 0.5rem
  }

  .ss-run-button {
    margin: 10px 0;
    float: right;
  }

}

.ss-mediaplayer-panel-holder {
  display: grid;
  grid-auto-flow: row;

  .ss-mediaplayer-panel {
    &:not(:last-child) {
      border-bottom: 1px solid #000000;
    }

    margin: 20px;

    .atem-label {
      text-align: right;
    }

    .buttons {
      display: grid;
      // grid-auto-flow: column;
      grid-template-columns: auto 30px 30px 30px 30px 30px;
      column-gap: 10px;

      .atem-label {
        font-size: 15px;
        text-align: right;
        font-weight: bold;
        color: #b1b1b1;
      }

      .media-button {
        width: 30px;
        height: 30px;
        line-height: 100%;

        border-radius: 50%;

        padding: 0;

        :not(:first-child) {
          margin-left: -2px;
        }
      }
    }

    // .ss-dropdown {
    //   width: 100%;
    //   text-overflow: ellipsis;
    // }

  }
}