[submodule "LibAtem.Discovery"]
	path = LibAtem.Discovery
	url = https://github.com/LibAtem/LibAtem.Discovery.git
[submodule "LibAtem"]
	path = LibAtem
	url = https://github.com/LibAtem/LibAtem.git
[submodule "LibAtem.DeviceProfile"]
	path = LibAtem.DeviceProfile
	url = https://github.com/LibAtem/LibAtem.DeviceProfile.git
