.page-audio {
  background: #262626;
  min-width: min-content;
  height: 100%;
}

.channel {
  display: grid;
  grid-template-rows: auto 1fr auto auto auto;
  row-gap: 10px;
  margin: 10px 0;

  .monitor-output {
    grid-row: span 2;

    border: solid 1px #0c0c0c;
    border-radius: 5px;
    background: #232323;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    height: 100%;
    overflow: hidden;

    padding: 5px;
    row-gap: 5px;

    .title {
      color: #888;
      font-size: 0.7rem;
      font-weight: bold;
      text-align: center;
    }

    .audio-numeric-control {
      border: none;
      border-radius: 0px;

      .control-input {
      }
    }
  }
}

.page-channel-strip {
  width: auto;
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  user-select: none;
  grid-template-columns: 1fr auto auto;
}

.channels-inner-scroll {
  .channel-strip-group {
    overflow-x: scroll;
  }
}

.channel-strip-group {
  display: grid;
  grid-auto-columns: 80px;
  grid-auto-flow: column;
  column-gap: 10px;

  height: 100%;
  overflow: visible;
}

.scale {
  position: relative;
  color: #414141;
  font-size: 10px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-bottom:25px; */

  .scale-1 {
    position: absolute;
    right: -5px;
  }

  .scale-2 {
    position: absolute;
    top: 14.5%;
    right: -5px;
    color: #a8a8a8;
  }

  .scale-3 {
    position: absolute;
    top: 27.5%;
    right: -5px;
  }

  .scale-4 {
    position: absolute;
    top: 33.5%;
    right: -5px;
  }

  .scale-5 {
    position: absolute;
    top: 53.2%;
    right: -5px;
  }

  .scale-6 {
    position: absolute;
    top: 100%;
    right: -5px;
  }
}

.audio-fader {
  height: 100%;

  .peaks {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background: #000000;
    color: red;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;

    &.peaks-ok {
      color: green;
    }
  }

  .control-content {
    padding: 0px !important;
    display: grid;
    grid-template-rows: 15px 1fr;
    background: #191919;
    border-radius: 5px;
    border: solid 1px #0e0e0e;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .level-holder {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;

    margin: 30px 0px 10px;

    .level-bar-holder {
      display: grid;
      // grid-template-rows: 1fr auto 50%;
      row-gap: 5px;

      .peakBox {
        // position: absolute;
        background: #181818;
        height: 5px;
        width: 5px;
        border: solid 1px #000;
        // bottom: calc(87% - 25px);

        &.peakBox-active {
          background: red;
        }
      }

      .level-bar {
        // position: absolute;
        // bottom: 10px;
        width: 5px;
        overflow: hidden;
        border: solid 1px #000;
        height: 100%;

        position: relative;

        .level-bar-inner {
          background: #5e5e5e;
          width: 100%;
          height: 100%;

          &.level-bar-rainbow {
            background: linear-gradient(
              0deg,
              rgba(1, 128, 0, 1) 48%,
              rgba(219, 213, 0, 1) 54%,
              rgba(235, 229, 0, 1) 71%,
              rgba(255, 0, 0, 1) 81%
            );
          }
        }
      }

      .peak-inner {
        position: absolute;
        width: 100%;
        background: #ff0000;
        margin-top: 2px;
        height: 2px;
      }
    }
  }

  .fader-slot {
    // TODO - redo these numbers..
    grid-row: 1;
    grid-column: 1;
    margin: 30px auto 10px;
    // position: absolute;
    // top: 30px;
    // left: 17px;
    height: calc(100% - 40px);
    background: #000000;
    border: 2px solid rgb(36, 36, 36);
    width: 8px;
    /* z-index:10; */
    border-radius: 5px;
    pointer-events: none;
  }

  .rangeslider-vertical {
    height: 100%;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;

    .rangeslider__labels {
      display: none;
      width: 0px;
    }

    .rangeslider__fill {
      display: none;
      box-shadow: none;
    }

    .rangeslider__handle {
      outline: none;
      box-shadow: 0px 0px 10px #000000;
      border: 0px solid #000000;
      z-index: 10;
      width: 20px;
      height: 40px;
      border-radius: 3px;
      transform: scaleY(1);
      /* background: rgb(200,200,200);
  background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 19%, rgba(116,116,116,1) 21%, rgba(146,146,146,1) 48%, rgba(89,89,89,1) 49%, rgba(150,150,150,1) 50%, rgba(179,179,179,1) 78%, rgba(64,64,64,1) 80%, rgba(55,55,55,1) 100%);
  cursor: pointer; */
      background: rgb(171, 171, 171);
      background: linear-gradient(
        180deg,
        rgba(171, 171, 171, 1) 0%,
        rgba(210, 210, 210, 1) 19%,
        rgba(110, 110, 110, 1) 21%,
        rgba(146, 146, 146, 1) 48%,
        rgba(89, 89, 89, 1) 49%,
        rgba(150, 150, 150, 1) 50%,
        rgba(214, 214, 214, 1) 78%,
        rgba(61, 61, 61, 1) 80%,
        rgb(27, 27, 27) 100%
      );
      /* background: rgb(145,145,145);
  background: linear-gradient(180deg, rgba(145,145,145,1) 0%, rgba(210,210,210,1) 19%, rgba(105,105,105,1) 21%, rgba(146,146,146,1) 48%, rgba(89,89,89,1) 50%, rgba(150,150,150,1) 52%, rgba(214,214,214,1) 78%, rgba(73,73,73,1) 80%, rgba(23,23,23,1) 100%);
  */
      cursor: pointer;
      // left: -5px;
    }
  }
}

.slider {
  position: relative;

  display: grid;

  .rangeslider {
    grid-row: 1;
    grid-column: 1;
  }
}

.dial {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr auto;

  .dial-value {
    grid-row: 1;
    grid-column: 1;

    margin: 0px auto;
  }

  .dial-spinner {
    grid-row: 1;
    grid-column: 1;

    background: url('./img/dial.png') center center;
    width: 43px;
    height: 43px;
    margin: 2px auto 0px;

    border-radius: 50%;
    border: 1px solid #000;

    // opacity: 0;
  }

  .dial-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #444;
    font-size: 0.6em;
    column-gap: 10px;
    // padding: 0px 20%;

    text-align: center;
  }
}

.audio-numeric-control {
  border: solid 1px #0c0c0c;
  border-radius: 5px;
  background: #232323;

  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  overflow: hidden;

  .control-content {
    padding: 5px;
  }

  .control-input {
    background: #0c0c0c;
    padding: 0;
    border: none;

    text-align: center;
    color: #979797;
    font-size: 13px;

    input {
      color: inherit;
      background-color: inherit;
      border: none;
      font: inherit;
      text-align: center;
      padding: 1px 5px;
      height: inherit;
    }
  }
}

.button-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .button-inner {
    background: rgb(37, 37, 37);
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 49%, rgba(50, 50, 50, 1) 90%, rgba(59, 59, 59, 1) 100%);
    border: solid 1px #131313;
    text-align: center;
    font-size: 12px;
    color: #5e5e5e;
    line-height: 18px;
    user-select: none;
    padding-top: 2px;

    &:active {
      box-shadow: inset 1px 1px 5px #000000b9;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:not(:last-child) {
      border-right: none;
    }

    &:first-child:last-child {
      grid-column: span 2;
    }
  }

  .button-inner-selected {
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 49%, rgba(23, 23, 23, 1) 90%, rgba(34, 34, 34, 1) 100%);
    color: #c06d00;
  }
}

.phones {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 25px;
  background: linear-gradient(0deg, rgba(37, 37, 37, 1) 60%, rgba(50, 50, 50, 1) 95%, rgba(59, 59, 59, 1) 100%);
  border: solid 2px #1f1f1f;
  display: grid;
  align-items: center;
  justify-items: center;

  &.phones-active {
    background: linear-gradient(0deg, rgb(26, 26, 26) 60%, rgb(22, 22, 22) 95%, rgba(26, 26, 26, 1) 100%);
  }

  &.phones-enabled {
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 60%, rgba(50, 50, 50, 1) 95%, rgba(59, 59, 59, 1) 100%);
    border: solid 2px #141414;

    &:active {
      box-shadow: inset 1px 1px 5px #000000b9;
    }
  }
}

.strip-heading {
  .name {
    text-align: center;
    color: #5c5c5c;
    font-size: 16px;

    margin-bottom: 5px;

    &.name-active {
      color: #dbdbdb;
    }
  }

  .tally {
    background: #202020;
    background: linear-gradient(0deg, rgba(45, 43, 43, 1) 88%, rgba(89, 89, 89, 1) 99%);
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border: solid 2px #202020;

    height: 10px;

    &.tally-red {
      background: red;
      background: linear-gradient(0deg, rgba(255, 0, 0, 1) 58%, rgba(255, 130, 130, 1) 99%);
      // box-shadow: 0px 0px 3px 0px rgba(255, 10, 10, 1);
    }

    &.tally-yellow {
      background: rgb(255, 196, 0);
      background: linear-gradient(0deg, rgb(202, 131, 0) 58%, rgb(255, 216, 108) 99%);
    }

    &.flash {
      animation: audio-flash linear 0.7s infinite;
    }
  }
}

@keyframes audio-flash {
  0% {
    background: #202020;
    background: linear-gradient(0deg, rgba(45, 43, 43, 1) 88%, rgba(89, 89, 89, 1) 99%);
    border: solid 2px #202020;
  }
  100% {
    // Fall back to the defined colour
  }
}
