.maxW {
  max-width: 800px;
}

.multiViewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  column-gap: 5px;
  row-gap: 5px;
  /* background:red; */
}

.multiViewSubGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.mutliViewItem {
  background: #202020;
  border-radius: 5px;
  padding: 10%;
  // padding-top: 30%;
}

.programPreview {
  text-align: center;
}

.settings-page {
  background: #2e2e2e;
  color: #858585;
}

.settings-content {
  padding-top: 2rem;

  .atem-heading {
    font-size: 1.1rem;
    margin: 10px 10px 0;
  }

}

.error-boundary {
  .atem-heading {
    font-size: 1.5rem;
    margin: 10px 10px 0;
  }

  .atem-note {
    font-size: 1.1rem;
    margin-top: -5px;
  }

  .atem-button {
    margin: 5px 40px;
  }
}

.atem-note {
  color: #858585;
  margin: -10px 20px 0;
  font-size: 13px;
  grid-column: span 2;
}