.maxW {
  max-width: 800px;
}

.multiViewProperties {
  display: grid;
  padding: 1rem 0;

  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr;


  .layout {
    display: inline-block;

    .layout-bar {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 50px 50px 50px 50px;
      justify-items: center;
    }
  }

  .vu-meters {
    .vu-controls {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
    }
  }
}

.multiViewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  column-gap: 5px;
  row-gap: 5px;

  position: relative;
  /* Needed to let the swap-preview-program float*/
}

.multiViewSubGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.multiViewLayoutButton {
  width: 50px;
  height: 35px;
  padding: 0;

  border: none;
  background-color: transparent;
  border-radius: .25rem;

  // &.multiViewLayoutButton-secondary {
  //   background-color: #363636;

  //   &:active {
  //     background-color: #202020;
  //   }
  // }

  &.multiViewLayoutButton-primary {
    background-color: #0f0f0f;
  }
}


.multiViewLayoutButton:focus,
.multiViewButton:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(#404040, .5);
}

.multiViewButton {
  width: 30px;
  height: 30px;
  padding: 0;
  // padding: 5px 8px;

  border: 1px solid #000;
  border-radius: .25rem;

  color: #aaa;

  &.multiViewButton-secondary {
    background-color: #363636;

    &:active {
      background-color: #202020;
    }

    &:hover {
      background-color: #303030;
    }
  }

  &.multiViewButton-primary {
    color: #ddd;
    background-color: #0f0f0f;

    &:active {
      background-color: #202020;
    }
  }
}

.swap-preview-program {
  position: absolute;
  float: left;
  top: 100px;

  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mutliViewItem {
  background: #262626;
  border-radius: 5px;
  border: 1px solid #222222;
  padding: 15px;
  // padding-top: 30%;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 40px;

  .name-row {
    padding: 10% 0;
  }

  .button-row {
    text-align: left;
  }

  div:first-child {
    text-align: center;
  }
}

.programPreview {
  text-align: center;
}


.settings-content {
  padding-top: 2rem;

  .atem-heading {
    font-size: 1.1rem;
    margin: 10px 10px 0;
  }

}

.error-boundary {
  .atem-heading {
    font-size: 1.5rem;
    margin: 10px 10px 0;
  }

  .atem-note {
    font-size: 1.1rem;
    margin-top: -5px;
  }

  .atem-button {
    margin: 5px 40px;
  }
}

.atem-note {
  color: #858585;
  margin: -10px 20px 0;
  font-size: 13px;
  grid-column: span 2;
}